body{
    font-family: 'Roboto', sans-serif;
}
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #AABBEE;
    border: 10px solid #AABBEE;
}
section{
    background-color: white;
    padding: 1rem;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
