@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=VT323&display=swap');


header{
    display: flex;
    justify-content: center;
    background-color: #1D4D72;
    color: white;
    font-family: "VT323", Helvetica, sans-serif;
    font-size: 30px;
}

img{
    margin: 1%;
    max-width: 100%;
    height: auto;
    width: 20%;
}

nav{
    background-color: black;
    font-family: "VT323", Helvetica, sans-serif;
    font-size: 50px;
    max-width: auto;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
}
nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1rem;
}
nav a:hover{
    color: black;
    background-color:#f0f0f0;
    transition: 0.5s;
}

ul {
    margin: 0;
    padding: 0;
}
/* <----------------------------------------------------------> */

main{
    display: grid;
    grid-template-columns: 100%;
    font-family: "Space Mono", Helvetica, sans-serif;
    grid-gap: 1rem;
}
h2{ 
    grid-column: 1/2;
    text-align: center;
    font-family: "VT323", Helvetica, sans-serif;
    color: black;
    font-size: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

h3{
    color: white;
    background-color: #1D4D72;
    margin: 0%;
    padding: 20px;
    border-radius: 5px 0px;
    text-align: center;
}

.card1 {
    grid-column: 1/2;
    border: 3px solid #bebcbc;
    border-radius: 10px;
    padding: 0%;
    margin-bottom: 5px;
}

.card2 {
    grid-column: 1/2;
    border: 3px solid #bebcbc;
    border-radius: 10px;
    padding: 0%;
    margin-bottom: 5px;
}

.card1 ul {
    text-align: left;
}

.card2 ul{
    text-align: left;
}

/* <----------------------------------------------------------> */
footer{
    background-color: #1D4D72;
    color: white;
    text-align: center;
    font-family: "VT323", Helvetica, sans-serif;
    font-size: 25px;
}

#last-modi {
    margin-bottom: 0;
}

footer img{
    width: 5%;
    margin: 0%;
}