@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=VT323&display=swap');


header{
    display: flex;
    justify-content: center;
    background-color: #1D4D72;
    color: white;
    font-family: "VT323", Helvetica, sans-serif;
    font-size: 30px;
}

img{
    margin: 1%;
    max-width: 25%;
    height: auto;
    width: 100%;
}

.navi{
    background-color: black;
    font-family: "VT323", Helvetica, sans-serif;
    font-size: 50px;
    max-width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navi li{
    display: none;
}

.navi a{
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}
.navi a:hover{
    color: black;
    background-color:#f0f0f0;
    transition: 0.5s;
}


#hmenu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
#hmenu::before {
	content: "☰";
}
#hmenu.open::before {
	content: "✕";
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

/* <----------------------------------------------------------> */

main{
    display: grid;
    grid-template-columns: 100%;
    font-family: "Space Mono", Helvetica, sans-serif;
    grid-gap: 1rem;
}
h2{ 
    grid-column: 1/2;
    text-align: center;
    font-family: "VT323", Helvetica, sans-serif;
    color: black;
    font-size: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

h3{
    color: white;
    background-color: #1D4D72;
    margin: 0%;
    padding: 20px;
    border-radius: 5px 0px;
    text-align: center;
}

.card1 {
    grid-column: 1/2;
    border: 3px solid #bebcbc;
    border-radius: 10px;
    padding: 0%;
    margin-bottom: 5px;
}

.card2 {
    grid-column: 1/2;
    border: 3px solid #bebcbc;
    border-radius: 10px;
    padding: 0%;
    margin-bottom: 5px;
}

.card1 ul {
    text-align: left;
}

.card2 ul{
    text-align: left;
}

/* <----------------------------------------------------------> */
footer{
    background-color: #1D4D72;
    color: white;
    text-align: center;
    font-family: "VT323", Helvetica, sans-serif;
    font-size: 25px;
}

#last-modi {
    margin-bottom: 0;
}

footer img{
    width: 5%;
    margin: 0%;
}